@model dynamic

@{
    ViewBag.Title = "Автомобілі з США";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>
<br/>
<h5>Бажаєте авто з мінімальним пробігом, максимальною комплектацією та за адекватну ціну?</h5>
<h5>Наші спеціалісти можуть підібрати Вам авто з США, Канади з таких інтернет-аукціонів як: Copart, IAAI</h5>
<h5>Всі потенційні проблеми по доставці беруть на себе наші досвідчені менеджери, ваша турбота - лише обрати авто</h5>