@model dynamic

@{
    ViewBag.Title = "Запчастини";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<h5>Наші менеджери із задоволенням підберуть Вам запчастини на будь-яке авто за доступними цінами!</h5>
<h5>Можемо підібрати як оригінальні запчастини так і підібрати аналог будь-якого цінового діапазону</h5>