@using HudsonApp.Enums
@model HudsonApp.Models.HomeViewModel

@{
     ViewBag.Title = "title";
     Layout = "_Layout";
}

<div id="socialmediaId">
    @await Html.PartialAsync("~/Views/Home/_socialMedia.cshtml", Model.SocialMedia)
</div>

<button type="button" class="btn btn-primary callback-btn" data-bs-toggle="modal" data-bs-target="#callbackModal" callbackType="@CallbackType.Other">
    Запис
</button>

<div id="callbackId">
    @await Html.PartialAsync("~/Views/Home/_callback.cshtml", Model.CallbackViewModel)
</div>
